<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <webNfceSettings>
    <UrlNfceService>http://homolog.e-benefix.com.br/nfev10/NFCeService.svc</UrlNfceService>
    <!--UrlNfceService>http://localhost:9001/NFCeService.svc</UrlNfceService-->
    <ProxyEndereco />
    <ProxyUsuario />
    <ProxySenha />
    <ProxyDominio />
    <TimeOut>300000</TimeOut>
  </webNfceSettings>
</configuration>