<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <webNfceSettings>
    <UrlNfceService>http://homolog.e-benefix.com.br/nfev5/NFCeService.svc</UrlNfceService>
    <ProxyEndereco />
    <ProxyUsuario />
    <ProxySenha />
    <ProxyDominio />
    <TimeOut>300000</TimeOut>
  </webNfceSettings>
</configuration>