"*** Configurações Nota:   COMPRIMIDO : NÃO   OITAVO : NÃO   COMPRIMENTO : NÃO"
"[LINHA_BRANCO,1]"
"{                                  }{O BARBADINHO PESCADOR}"
"{                         }{Praça São Benedito, Box 19/20 - Centro}"
"{                          }{Fax: (091) 425-3178 - Cel. 9141-5438}"
"{                            }{CEP: 68600-000 - Bragança - Pará}"
"{                               }{CNPJ: 03.052.721/0001-33}"
"{                              }{Insc. Estad.: 15.204.108-7}"
"{--------------------------------------------------------------------------------}"
"{Cód. Vendedor}{ }{:}{    }[Código Vendedor,4]"
"{Número do Pedido}{ }{:}{ }[Número Nota,8]"
"{Data de Saída}{ }{:}{    }[Data Saída,10]{  }{Horario de Saida}{ }[Hora Saída,10]"
"{--------------------------------------------------------------------------------}"
"{Cliente:}{  }[Nome Cliente,50]"
"{Endereço:}{ }[Endereço,50]"
"{Bairro:}{   }[Bairro,20]"
"{Cidade:}{   }[Cidade,30]{      }{CEP:}{ }[CEP,9]"
"{Fone:}{     }[FONE1,25]{        }{Estado:}{ }[Estado,2]"
"{CNPJ:}{     }[CGC,20]"
"{Insc. Estadual:}{ }[Inscrição Estadual,20]"
"{--------------------------------------------------------------------------------}"
"[LINHA_BRANCO,1]"
"{Loja Beira}"
"{--------------------------------------------------------------------------------}"
"[LINHA_BRANCO,1]"
"[Fatura,10]{          }[Valor Fatura,12]{              }[Data Fatura,10]"
"[Fatura,10]{          }[Valor Fatura,12]{              }[Data Fatura,10]"
"[LINHA_BRANCO,1]"
"{Parcelamento}{  }[Qtde Parcelas Fatura,6]"
"[LINHA_BRANCO,1]"
"{--------------------------------------------------------------------------------}"
"{Código}{  }{Produto}{                                  }{Unid.}{ }{Quant.}{  }{P. Unit}{  }{P. Total}"
"[Código Produto,7]{  }[Nome Produto,39]{ }[Unidade Venda,3]{   }[Qtde,6]{ }[Preço Unitário,8]{ }[Preço Final Produto,9][PROXIMO_PRODUTO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"{                                                                     }[Valor Total dos Produtos,12]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"*** Fim de arquivo ***"
