"*** Configurações Nota:   COMPRIMIDO : SIM   OITAVO : SIM"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"{                                                                                     }{x}"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"{       }[Nome Operação,15]{                            }[Código Fiscal,4]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"{       }[Nome Cliente,50]{                                  }[CGC,18]{            }[Data,10]"
"[LINHA_BRANCO,1]"
"{       }[Endereço,50]{                         }[Bairro,17]{ }[CEP,9]{            }[Data Saída,10]"
"[LINHA_BRANCO,1]"
"{       }[Cidade,30]{              }[FONE1,15]{             }[Estado,2]{          }[Inscrição Estadual,20]{          }[Hora Saída,10]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc ICM Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc ICM Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc ICM Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc ICM Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc ICM Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc ICM Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc ICM Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc ICM Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc ICM Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc ICM Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc ICM Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc ICM Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc ICM Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc ICM Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc ICM Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc ICM Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc ICM Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc ICM Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc ICM Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc ICM Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc ICM Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc ICM Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc ICM Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc ICM Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc IPI Produto,3]{  }[PROXIMO_PRODUTO,1]"
"{  }[Código Produto,9]{ }[Nome Produto,46]{              }[Situação Tributária,2]{    }[Unidade Venda,3]{   }[Qtde,5]{   }[Preço Unitário,12]{      }[Preço Produto Total,12]{       }[Perc IPI Produto,3]{  }[PROXIMO_PRODUTO,1]"
"[LINHA_BRANCO,1]"
"{ }[Base Cálculo ICM,15]{       }[Valor ICM,15]{         }[Base Cálculo ICM Subs,15]{                  }[Valor ICM Subs,15]{                }[Valor Total dos Produtos,15]"
"[LINHA_BRANCO,1]"
"{ }[Valor Frete,15]{             }[Obs5,15]{              }[Obs6,15]{       }[Valor Total IPI,15]{                }[Valor Total da Nota,15]"
"[LINHA_BRANCO,1]"
"{ }[Nome Transportadora,25]{                                                         }[Frete Conta,1]{      }[Placa,8]{    }[UF Placa,2]"
"[LINHA_BRANCO,1]"
"{                                                                        }[Obs2,19]{         }[UF Placa,2]{    }[Obs7,18]"
"[LINHA_BRANCO,1]"
"{    }[Qtde Trans,5]{             }[Espécie Trans,10]{              }[Marca Trans,10]{                                           }[Peso Bruto,10]{        }[Peso Líquido,10]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"{ }[Obs1,30]"
"{ }[Obs3,30]"
"{ }[Obs4,30]"
"{ }[Obs8,16]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"*** Fim de arquivo ***"
