"*** Configurações Nota:   COMPRIMIDO : SIM   OITAVO : SIM"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"{                                                                                       }{X}"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[Nome Operação,30]{                  }[Código Fiscal,4]{       }[Inscrição Estadual,20]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[Nome Cliente,50]{                                       }[CGC,20]{           }[Data,10]"
"[LINHA_BRANCO,1]"
"[Endereço,50]{                          }[Bairro,20]{      }[CEP,9]{         }[Data Saída,10]"
"[LINHA_BRANCO,1]"
"[Cidade,30]{                      }[FONE1,25][Estado,2]{           }[Inscrição Estadual,20]{          }[Hora Saída,10]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[Fatura,10]{          }[Valor Fatura,12]{              }[Data Fatura,10]{                }[Fatura,10]{             }[Valor Fatura,12]{           }[Data Fatura,10]"
"[Fatura,10]{          }[Valor Fatura,12]{              }[Data Fatura,10]{                }[Fatura,10]{             }[Valor Fatura,12]{           }[Data Fatura,10]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[Código Produto,16][Nome Produto,39]{      }[Classificação Fiscal,3][Situação Tributária,5][Unidade Venda,3][Qtde,7]{   }[Preço Unitário,8]{        }[Preço Final Produto,12]{      }[Perc ICM Produto,5][Perc IPI Produto,3][Valor IPI Produto,9]{    }[PROXIMO_PRODUTO,1]"
"[Código Produto,16][Nome Produto,39]{      }[Classificação Fiscal,3][Situação Tributária,5][Unidade Venda,3][Qtde,7]{   }[Preço Unitário,8]{        }[Preço Final Produto,12]{      }[Perc ICM Produto,5][Perc IPI Produto,3][Valor IPI Produto,9]{    }[PROXIMO_PRODUTO,1]"
"[Código Produto,16][Nome Produto,39]{      }[Classificação Fiscal,3][Situação Tributária,5][Unidade Venda,3][Qtde,7]{   }[Preço Unitário,8]{        }[Preço Final Produto,12]{      }[Perc ICM Produto,5][Perc IPI Produto,3][Valor IPI Produto,9]{    }[PROXIMO_PRODUTO,1]"
"[Código Produto,16][Nome Produto,39]{      }[Classificação Fiscal,3][Situação Tributária,5][Unidade Venda,3][Qtde,7]{   }[Preço Unitário,8]{        }[Preço Final Produto,12]{      }[Perc ICM Produto,5][Perc IPI Produto,3][Valor IPI Produto,9]{    }[PROXIMO_PRODUTO,1]"
"[Código Produto,16][Nome Produto,39]{      }[Classificação Fiscal,3][Situação Tributária,5][Unidade Venda,3][Qtde,7]{   }[Preço Unitário,8]{        }[Preço Final Produto,12]{      }[Perc ICM Produto,5][Perc IPI Produto,3][Valor IPI Produto,9]{    }[PROXIMO_PRODUTO,1]"
"[Código Produto,16][Nome Produto,39]{      }[Classificação Fiscal,3][Situação Tributária,5][Unidade Venda,3][Qtde,7]{   }[Preço Unitário,8]{        }[Preço Final Produto,12]{      }[Perc ICM Produto,5][Perc IPI Produto,3][Valor IPI Produto,9]{    }[PROXIMO_PRODUTO,1]"
"[Código Produto,16][Nome Produto,39]{      }[Classificação Fiscal,3][Situação Tributária,5][Unidade Venda,3][Qtde,7]{   }[Preço Unitário,8]{        }[Preço Final Produto,12]{      }[Perc ICM Produto,5][Perc IPI Produto,3][Valor IPI Produto,9]{    }[PROXIMO_PRODUTO,1]"
"[Código Produto,16][Nome Produto,39]{      }[Classificação Fiscal,3][Situação Tributária,5][Unidade Venda,3][Qtde,7]{   }[Preço Unitário,8]{        }[Preço Final Produto,12]{      }[Perc ICM Produto,5][Perc IPI Produto,3][Valor IPI Produto,9]{    }[PROXIMO_PRODUTO,1]"
"[Código Produto,16][Nome Produto,39]{      }[Classificação Fiscal,3][Situação Tributária,5][Unidade Venda,3][Qtde,7]{   }[Preço Unitário,8]{        }[Preço Final Produto,12]{      }[Perc ICM Produto,5][Perc IPI Produto,3][Valor IPI Produto,9]{    }[PROXIMO_PRODUTO,1]"
"[Código Produto,16][Nome Produto,39]{      }[Classificação Fiscal,3][Situação Tributária,5][Unidade Venda,3][Qtde,7]{   }[Preço Unitário,8]{        }[Preço Final Produto,12]{      }[Perc ICM Produto,5][Perc IPI Produto,3][Valor IPI Produto,9]{    }[PROXIMO_PRODUTO,1]"
"[Código Produto,16][Nome Produto,39]{      }[Classificação Fiscal,3][Situação Tributária,5][Unidade Venda,3][Qtde,7]{   }[Preço Unitário,8]{        }[Preço Final Produto,12]{      }[Perc ICM Produto,5][Perc IPI Produto,3][Valor IPI Produto,9]{    }[PROXIMO_PRODUTO,1]"
"[Código Produto,16][Nome Produto,39]{      }[Classificação Fiscal,3][Situação Tributária,5][Unidade Venda,3][Qtde,7]{   }[Preço Unitário,8]{        }[Preço Final Produto,12]{      }[Perc ICM Produto,5][Perc IPI Produto,3][Valor IPI Produto,9]{    }[PROXIMO_PRODUTO,1]"
"[Código Produto,16][Nome Produto,39]{      }[Classificação Fiscal,3][Situação Tributária,5][Unidade Venda,3][Qtde,7]{   }[Preço Unitário,8]{        }[Preço Final Produto,12]{      }[Perc ICM Produto,5][Perc IPI Produto,3][Valor IPI Produto,9]{    }[PROXIMO_PRODUTO,1]"
"[Código Produto,16][Nome Produto,39]{      }[Classificação Fiscal,3][Situação Tributária,5][Unidade Venda,3][Qtde,7]{   }[Preço Unitário,8]{        }[Preço Final Produto,12]{      }[Perc ICM Produto,5][Perc IPI Produto,3][Valor IPI Produto,9]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[Base Cálculo ICM,12]{                }[Valor ICM,12]{                  }[Base Cálculo ICM Subs,12]{               }[Valor ICM Subs,12]{            }[Valor Total dos Produtos,12]"
"[LINHA_BRANCO,1]"
"[Valor Frete,12]{                                              }[Obs1,23]{    }[Valor Total IPI,12]{            }[Valor Total da Nota,12]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[Nome Transportadora,40]{                                         }[Frete Conta,1]{     }[Placa,8]{      }[UF Placa,2]{      }[Obs2,18]"
"[LINHA_BRANCO,1]"
"[Endereço,50]{                    }[Obs8,25]{      }[UF Placa,2]{             }[Inscrição Estadual,13]"
"[LINHA_BRANCO,1]"
"{  }[Qtde Trans,10]{            }[Espécie Trans,10]{             }[Marca Trans,10]{             }[Obs7,20]{                }[Peso Bruto,10]{    }[Peso Líquido,10]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[Obs3,30]"
"[Obs4,30]"
"[Obs5,30]"
"[Obs6,30]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"[LINHA_BRANCO,1]"
"*** Fim de arquivo ***"
